{% extends 'base_layout.html' %}
{% block title %}List View{% endblock %}

{% block content %}
    <h1 class="text-center">Survey Questions</h1>
    <!-- For some reason there is a ton of space between these two items -->
    <div class="col-md-6 offset-md-3">
      <div class="container" style="border: 10px solid #FF704D; border-style: ridge; padding: 2%;">
      {% if user.is_authenticated %}
        <center><a href="{% url 'create' %}" class="btn btn-info btn-sm">Create A New Question</a></center>
      {% else %}
      {% endif %}
        <br/><br/>
        {% if questions %}
        <ul class="list-group">
            {% for question in questions %}
            <li class="list-group-item">
                <strong> {{ question.question }} </strong>
                <span class="float-right"> <!--  float-end -->
                  {% if user.is_superuser %}
                    <a href="{% url 'answer' question.id %}" class="btn btn-info btn-sm">Answer</a>
                    <a href="{% url 'results' question.id %}" class="btn btn-outline-primary btn-sm">View Results</a>
                  {% else %}
                    <a href="{% url 'answer' question.id %}" class="btn btn-info btn-sm">Answer</a>
                  {% endif %}
                </span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
          <p>There are currently no questions.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
