{% extends 'base_layout.html' %}
{% block title %}Hap-Pea Foods | Registration{% endblock %}
{% block content %}

  <div class="content-section">
    <form class="site-form" action="accounts/signup" method="post">
      <h4>New User Registration</h4>
      <fieldset class="form-group">
          {% csrf_token %}
          {{form}}
      </fieldset>
      <div class="form-group">
        <input type="submit" value="Register">
      </div>
      <p>By continuing, you agree to Hap-Pea Foods <a href="terms">Terms and Conditions</a> and <a href="privacy">Privacy Notice.</a></p>
      <hr>
        <p>&copy; 2021, Hap-Pea Foods</p>
    </form>
  </div>

{% endblock %}
