* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Header Container */
header {
  background: #fff;
}

.head-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.sm i {
  padding: 10px 10px;
}

 /* Nav Container */

nav {
  background: #5DAAB2;
  padding: 10px 0px;
}

.nav-container {
  width: 95%;
  margin: 0 auto;
}

.nav-columns {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  height: 40px;
  padding: 0 10px;
}

nav h1 {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.logo-color {
  color: #000;
  font-size: 1.1rem;
}

.logo {
  width: 10%;
}

.nav-links {
  width: 70%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0, 0.1);
}

.nav-links ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 20%;
}

.nav-links ul li {
  position: relative;
  display: inline-block;
  list-style: none;
}

.nav-links ul li a {
  display: block;
  color: #fff;;
  padding: 0 15px;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
}

.nav-links ul li a:hover {
  background: #008080;
}

.nav-links ul ul {
  position: absolute;
  top: 60px;
  display: none;
}

.nav-links ul li:hover > ul {
  display: block;
}

.nav-links ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
  background: #008080;
}

.nav-links a:active {
  background-color: #c7c7c7;
  color: #fff;
}

.search {
  width: 15%;
}

.search button:hover {
  background: #ccc;
}

.search input[type=text] {
  font-size: 16px;
}

.search button[type=submit] {
  font-size: 16px;
}

.search i {
  font-size: 14px;
}

.system {
  width: 11%;
}

.system i {
  padding-right: 5px;
  font-size: 18px;
}

.system a {
  color: #000;
  text-align: center;
  margin: 0 1px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  background: #fff;
  border-radius: 10px;
}

/* Wrapper */
.wrapper_container {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper_container h1 {
  text align: center;
  margin: 100px auto;
  font-size: 2.4em;
}

/* Footer Container */
footer {
  background: #5DAAB2;
}

.foot-container {
  width: 95%;
  margin: 0 auto;
}

.foot-columns {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  align-items: center;
}

.about {
  width: 20%;
}

.statement img {
  height: 100px;
}

.statement p {
  font-size: 14px;
  line-height: 1rem;
}

.foot-links {
  width: 5%;
}

.foot-links ul, .foot-links-2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.foot-links li, .foot-links-2 li {
  padding: 5px 0;
}

.foot-links a:link, .foot-links-2 a:link {
  color: #fff;
  width: 10%;
  font-size: 14px;
}

.foot-links a:visited, .foot-links-2 a:visited {
  color: #fff;
}

.subscribe {
  width: 15%;
}

.subscribe button:hover {
  background: #ccc;
}

.subscribe input[type=email] {
  font-size: 14px;
}

.subscribe button[type=submit] {
  font-size: 14px;
}

.contact {
  width: 20%;
}

.contact h2 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 16px;
}

.contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact a, li {
  font-size: 14px;
}

.contact i {
  padding: 10px 20px;
  font-size: 14px;
}

.copyright {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}

.copyright p {
  font-size: 12px;
}

.copyright a {
  padding: 0 10px;
  font-size: 14px;
}




/* --------------------  CSS for other pages starts here ------------------- */

/* Homepage CSS */
.row1, .row2, .row3, .row4{
  box-sizing: border-box;
  display: flex;
}
.image-col {
  flex-basis: 10%;
  padding-top: 10px;
}

.image-col img {
  height: 100px;
  width: 100px;
}

.text {
  padding-top: 10px;
  padding-left: 100px;
}

.l_container {
  box-sizing: border-box;
  display: flex;
}

.column {
  display: flex;
}

.leftblock {
  flex-basis: 250%;
  padding-top: 10px;
}

.calendar {
  padding-top: 10px;
  padding-left: 100px;
}

/* slider */
.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  top: 15px;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
    float: left;
    width: 20%;
    height: 600px;
    object-fit: fill;
}

@keyframes slider {
  0% { left: 0; }
  20%{ left:0; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }

}

/* Stories_list css */

.createstory button {
  background-color: #00b33c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.stories {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.story {
  padding: 10px;
  border: 2px solid #00b33c; /* greenish */
  position: relative;
  padding-bottom: 40px;
}

.story h2 {
  font-size: 1.2em;
}

.story .author {
  padding: 10px;
  background: #00b33c; /* greenish */
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #FBFBFF; /* whitish */
}

/* Story-details css */
.story-detail .story {
  padding: 0;
}

.story-detail .story img {
  max-width: 100%;
}

.story-detail .story h1 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

.story-detail .story p {
  text-align: center;
}

/* Stories_create css */

/* site-form css All Forms*/
.site-form {
  margin: 15px 30%;
  border: 10px solid #00b33c; /* greenish */
  border-style: ridge;
  padding: 30px;
  border-radius: 4px;
}

.site-form h4 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.site-form input, .site-form textarea {
  display: block;
  margin: 20px 0 20px 0;
  padding: 10px;
}

a.highlight {
  border: 1px solid #00b33c;  /* greenish */
  padding: 10px;
  border-radius: 4px;
  color: #00b33c;  /* greenish */
}

.helptext, .helptext ul {
  margin: 0 auto 20px;
  color: #000; /* black */
  font-size: 0.9em;
  display: block;
}

.errorlist {
  display: none;
  padding: 0;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #E32636; /* Alizarin Crimson */
  color: #E32636; /* Alizarin Crimson */
  margin: 10px 0;
}

.site-form input[type="submit"] {
  background: #00b33c; /* greenish */
  border: 0;
  color: #000;
  font-size: 1.2em;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px 30px;
}

.site-form input[type=submit]:hover {
  color: #FBFBFF;
  cursor: pointer;
}

/* Partners page CSS */

.portal img {
  white-space: nowrap;
  padding-left: 100px;
  padding-bottom: 100px;
}

/* Volunteer page CSS */

.v_head {
  text-align: center;
}

.v_img_banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.v_options h3 {
  color: #084F6C;
  text-align: center;
  font-size: 36px;
}

.v_options h4 {
  padding: 30px;
}

.v_options ul {
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.v_options li {
  display: inline-block;
}

.v_options img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.v_options a {
  font-size: 26px;
}

/* Donations page CSS */

.d_img img {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* About page CSS */
.about-page h1 {
  text-align: center;
}

.about-page p {
  font-size: 18px;
  padding: 20px 0;
}


/* User Portal page CSS */
.up_head h1{
  text-align: center;
}

.portal {
  width: 95%;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}

.portal p {
  font-size: 16px;
}

.portal ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.portal ul li {
  list-style: none;
  width: 150px;
  height: 150px;
  margin: 40px;
  border: 2px solid #3c7980;
}

.portal li {
  padding: 20px;
}

.portal i {
  padding: 20px;
  font-size: 48px;
}


/* Contact Us page */

.c-information {
  text-align: center;
}

.c-information h2 {
  font-size: 24px;
  padding-bottom: 10px;
}

.c-information i {
  font-size: 28px;
  padding: 0 10px;
}

.c-form-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px auto 20px;
}

.c-form-head  hr {
  width: 300px;
  height: 5px;
  background-color: #3c7980;
}

.c-form-head  i {
  font-size: 100px;
  padding: 0 20px;
}

.contact_form {
  margin: 0 30%;
}

.contact_form h3, h4{
  text-align: center;
}

.contact_form h4{
  padding: 20px 0;
}

/* non discrimination statement page */

.nds h1 {
  text-align: center;
}

.nds .nds-column-1 h4 {
  padding-bottom: 10px;
}

.nds .nds-column-2 ul{
  margin-left: 35%;
}

.nds .nds-column-2 ul li {
  list-style: none;
  font-size: 28px;
}

.nds .nds-column-2 ul {
  padding: 20px 0;
}

.nds .nds-column-2 i {
  font-size: 28px;
  padding-right: 20px;
}

/* Facts and Media page */
.facts h1 {
  text-align: center;
}

.facts p {
  font-size: 24px;
  padding: 10px 0;
}

.facts a {
  font-size: 24px;
}

.facts hr {
  height: 5px;
  margin: 20px 0;
  background-color: #3c7980;
}

.facts .article-1 {
  margin: 0 20%;
}

.facts .article-1 h2 {
  font-size: 24px;
  padding: 20px 0;
}

.facts .article-1 span {
  color: #b3b3b3;
  font-size: 24px;
}

.facts .article-1 p {
  font-size: 18px;
  padding: 10px 0;
}

.facts .article-1 a {
  font-size: 18px;
}

/* My Calendar Page */

.calendar {
  text-align: center;
}

.calendar i {
  font-size: 20rem;
  padding-bottom: 20px;
}
