{% extends 'base_layout.html '%}
{% block title %} Hap-Pea Foods | About Us {% endblock %}
{% block content %}

  <div class="about-page">
    <h1>About Us</h1>

    <p>The problem we are facing is food insecurities caused by food waste and shortage through a lack of communication. Every day people go hungry because they cannot provide food for their families. This is the concept of food insecurities. Food waste and shortage exacerbate this situation. Food waste is the overabundance of food were unused, sold, or eaten food is thrown out while food shortage is when food is in high demand. The US has in place programs to help families suffering from food insecurities. However, these programs are not always successful because they lack the communication needed for programs to talk to one another. Too often a program may have too much food where another has too little. Hence food waste and shortage. The concept of Hap-Pea Foods is to have these programs communicate with each other reducing food insecurities in the process. </p>

    <p>Food banks, food charities, help people in need regarding food needs. They provide food to those who cannot otherwise provide because of financial means. A household that doesn’t make enough money may lack the ability to put food on the table and thus goes to a food bank or charity to get food that is donated by people or companies. When a food bank doesn’t have enough food, they need a place to search for available food. Hap-Pea food provides a website to make this connection. When food banks have too much food, instead of throwing away the food, they can use the Hap-Peas food website to find banks and charities that require what they have. Hap-Pea foods also provide a connection for people who want to volunteer their services to these banks and charities since most of them rely on volunteers for their labor and workforce. </p>

    <p>Hap-Pea foods will be a website with a centralized database containing companies, charities, and banks that have food or need food. Companies, charities, and banks can search the database for what they need and search for how to help others with what they have. It provides a place where volunteers can join the workforce and offer their services to others who are in need. </p>


  </div>
{% endblock %}
