{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </head>
  <body>

    <header>
     <div class="head-container">
       <div class="sm">
         <i class="fab fa-facebook-f" style="color: blue"></i>
         <i class="fab fa-twitter" style="color: lightblue"></i>
         <i class="fab fa-google-plus" style="color: green"></i>
         <i class="fab fa-instagram" style="color: grey"></i>
         <i class="fab fa-youtube" style="color: red"></i>
       </div>
     </div>
   </header>

   <nav>
     <div class="nav-container">
       <div class="nav-columns">

         <div class="logo">
           <img src="{% static 'logo3.jpg' %}" class="img-logo" alt="peas">
           <h1><span class="logo-color">HAP-PEA</span> FOODS</h1>
         </div>

         <div class="nav-links">
           <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'partners' %}">Partners</a></li>
              </ul>
            </li>
            <li><a href="{% url 'donations:donations' %}">Donate <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="{% url 'moneydonations' %}">Donate Money</a></li>
                <li><a href="{% url 'donations:donations' %}">Donate Food</a></li>
                <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
              </ul>
            </li>
            <li><a href="{% url 'find_help' %}">Find Help</a></li>
            <li><a href="{% url 'facts' %}">Facts and Media <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="{% url 'find_help' %}">Hunger in the US</a></li>
                <li><a href="{% url 'stories:stories' %}">Stories</a></li>
                <li><a href="{% url 'facts' %}">Media</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
         </div>

         <div class="search">
           <form action="/action_page.php">
             <input type="text" placeholder="Search.." name="search">
             <button type="submit"><i class="fa fa-search"></i></button>
           </form>
         </div>

         <div class="system">
           <i class="far fa-user" style="color: black"></i>
           <a href="{% url 'accounts:register' %}">Register</a>
           {% csrf_token %}
           <a href="{% url 'accounts:login' %}">Login</a>
           {% csrf_token %}
         </div>

       </div>

     </div>
   </nav>

    <!-- Start Wrapper -->
    <div class="wrapper_container">
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    <!-- End wrapper -->

    <footer>
          <div class="foot-container">

            <div class="foot-columns">
              <div class="about"> <!-- flex box 1 -->
                <div class="statement">
                  <img src="{% static 'logo2.jpg' %}" class="img-logo" alt="peas">
                  <p> Hap Pea Foods is dedicated to ending food insecurity. We work tiredlessly with companies around the states to make sure there is enough food on the table for every household.  We do right by people and the planet. Together, we drive meaningful change in communities around the world.</p>
                </div>
                <div class="sm">
                  <i class="fab fa-facebook-f" style="color: blue"></i>
                  <i class="fab fa-twitter" style="color: lightblue"></i>
                  <i class="fab fa-google-plus" style="color: green"></i>
                  <i class="fab fa-instagram" style="color: grey"></i>
                  <i class="fab fa-youtube" style="color: red"></i>
                </div>
              </div>

              <div class="foot-links"> <!-- flex box 2 -->
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'partners' %}">Partners</a></li>
                  <li><a href="{% url 'stories:stories' %}">Stories</a></li>
                  <li><a href="{% url 'volunteer' %}">Volunteer</a></li>
                  <li><a href="{% url 'find_help' %}">Find Help</a></li>
                  <li><a href="{% url 'donations:donations' %}">Donate</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="foot-links-2"><!-- flex box 3 -->
                <ul>
                  <li><a href="{% url 'survey' %}">Survey</a></li>
                  <li><a href="{% url 'organizations' %}">Organizations</a></li>
                  <li><a href="{% url 'facts' %}">Facts and Media</a></li>
                  <li><a href="{% url 'portal' %}">My Portal</a></li>
                  <li><a href="{% url 'createevent' %}">Create an Event</a></li>
                  <li><a href="{% url 'mycalendar' %}">My Calendar</a></li>
                  <li><a href="{% url 'non_disc_stmt' %}">Non Discrimination Statement</a></li>
                </ul>
              </div>

              <div class="subscribe"> <!-- flex box 4 -->
                <form action="/action_page.php">
                  <input type="email" placeholder="Email..." name="email">
                  <button type="submit">Subscribe</button>
                </form>
              </div>

              <div class="contact"><!-- flex box 5 -->
                <h2>Contact Us</h2>
                <ul>
                  <li><i class="fa fa-map-marked-alt" style="color: black"></i><a href="https://maps.google.com">Google Maps</a></li>
                  <li><i class="fa fa-city" style="color: black"></i>1234 A Random Street, City, State, 00000</li>
                  <li><i class="fa fa-phone" style="color: black"></i>(987) 654-3210</li>
                  <li><i class="fa fa-envelope" style="color: black"></i> test@test.com</li>
              </ul>
              </div>
            </div>

            <div class="foot-columns">
              <div class="copyright">
                <p>Copyright &copy; 2021 Website Created by David Boss, Suzanne Kaufman, and Mallory Dodds. All Rights Reserved.  <a href="{% url 'terms_cond' %}">Terms and Conditions</a><a href="{% url 'privacy' %}">Privacy Policy</a></p>
              </div>
            </div>

          </div>
        </footer>

    <script type="text/javascript"> /* scripts for slider */
      var counter = 1;
      setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter >4){
          counter = 1;
        }
      }, 5000);
    </script>

  </body>
</html>
