{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Contact Us {% endblock %}
{% block content %}
  <div class="c-information">
    <h1>Contact Us</h1>
    <h2><i class="fas fa-building"></i>Address</h2>
    <p>1234 Any Street</p>
    <p>Tempe, Arizona, 85283</p>
    <br/>
    <h2><i class="fas fa-phone-alt"></i>Phone</h2>
    <p>(987) 654-3210</p>
    <br/>
    <h2><i class="fas fa-at"></i>Email</h2>
    <p>happeafoods@asu.com</p>
  </div>

  <div class="c-form-head">
    <hr><i class="far fa-envelope"></i><hr>
  </div>

  <div class="contact_form">
    <h3>Please fill out the following form. We will contact you within 24 hours.</h3>

    <form action="action_page.php">

      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>

      <label for="number">Telephone Number</label>
      <p><input type="tel" id="telnum" name="number" placeholder="Your Phone Number">

      <p><label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>

{% endblock %}
