
{% extends 'base_layout.html '%}
{% block title %} Hap-Pea Foods | Facts {% endblock %}
{% block content %}
  <div class="facts">
    <h1>Facts and Information About Food Insecurity in America</h1>

    <p>Although the USDA has not updated their website for 2020, likely due to the department still compling data and delays from Coivd-19, people across America are struggling to provide food themselves and their families.</p>
    <p>According to the <a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx">USDA ERS Key Statistics and Graphics 2019</a> guide, 2019 showed a increase of  88.9% food security from 2018. However, the arrival of Covid-19 in March of 2020, strained the US economically. Many people lost threir jobs and thus the ability to pay for food. This in turn lead to a rise of food insecurity in the US. Food banks struggled to get food to people as the supply was lower than the demand. Less jobs meant less prouct being made. </p>
    <hr>
    <div class="article-1">
      <h1>Food Insecurity In The U.S. By The Numbers</h1>
      <h2><span>Article by:</span> CHRISTIANNA SILVA</h2>
      <h3>September 27, 20204:30 PM ET</h3>
      <a href="https://www.npr.org/2020/09/27/912486921/food-insecurity-in-the-u-s-by-the-numbers">npr.org</a>
      <br/>


      <p>With COVID-19 continuing to spread, and millions of Americans still out of work, one of the nation's most urgent problems has only grown worse: hunger.</p>

      <p>In communities across the country, the lines at food pantries are stretching longer and longer, and there's no clear end in sight. Before the pandemic, the number of families experiencing food insecurity — defined as a lack of consistent access to enough food for an active, healthy life — had been steadily falling. But now, as economic instability and a health crisis takes over, new estimates point to some of the worst rates of food insecurity in the United States in years.</p>

      <p><i>"COVID has just wreaked havoc on so many things: on public health, on economic stability and obviously on food insecurity,"</i> said Luis Guardia, the president of the Food, Research and Action Center.</p>

      <p>It's a crisis that's testing families, communities and the social safety net in ways that may have seemed unthinkable before the pandemic began. Here's a closer look at the landscape:

      <h2>Nearly 1 in 4 households have experienced food insecurity this year</h2>

      <p>Even before the pandemic hit, some 13.7 million households, or 10.5% of all U.S. households, experienced food insecurity at some point during 2019, according to <a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx">data</a> from the U.S. Department of Agriculture. That works out to more than 35 million Americans who were either unable to acquire enough food to meet their needs, or uncertain of where their next meal might come from, last year.</p>

      <p>For about a third of these households, access to food was so limited that their eating patterns were disrupted and food intake was reduced. The rest were able to obtain enough food to avoid completely disrupting their eating patterns, but had to cope by eating less varied diets or utilizing food assistance programs.</p>

      <p>The coronavirus pandemic has only worsened the problem. According to <a href="https://www.ipr.northwestern.edu/documents/reports/ipr-rapid-research-reports-pulse-hh-data-10-june-2020.pdf">one estimate</a> by researchers at Northwestern University, food insecurity more than doubled as a result of the economic crisis brought on by the outbreak, hitting as many as 23% of households earlier this year.</p>

      <h2>Millions more children are experiencing food insecurity</h2>

      <p>In non-pandemic times, households with children were nearly 1.5 times more likely to experience food insecurity than households without children, <a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/key-statistics-graphics.aspx#children">according to the USDA</a>, which reported that 13.6% of households with children experienced food insecurity last year. More than 5 million children lived in these homes.</p>

      <p>Then came the coronavirus. An analysis by the <a href="https://www.brookings.edu/blog/up-front/2020/07/09/about-14-million-children-in-the-us-are-not-getting-enough-to-eat/">Brookings Institution</a> conducted earlier this summer found that in late June, 27.5% of households with children were food insecure — meaning some 13.9 million children lived in a household characterized by child food insecurity. A separate analysis by researchers at <a href="https://www.ipr.northwestern.edu/documents/reports/ipr-rapid-research-reports-pulse-hh-data-10-june-2020.pdf">Northwestern</a> found insecurity has more than tripled among households with children to 29.5%.</p>

      <p>School lunch programs were already struggling to meet rising demand before the pandemic. With COVID-19 now keeping children out of school, many don't have access to school lunches at all.</p>

      <p><i>"The other thing that COVID has done is it's really affected kids a lot in terms of food insecurity,"</i> Guardia said. <i>"One of the things we've noticed across the board is that households with children are more food insecure. And we believe that also has to do with school closures. So a lot of kids get their nutrition from school meals, and that's been disrupted."</i></p>

      <h2>Black families are twice as likely as whites to face food insecurity</h2>

      <p>The data shows that food insecurity is more likely to wreak havoc on some communities than others.</p>

      <p>Black and Hispanic Americans are particularly disproportionately affected. <a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/interactive-charts-and-highlights/">According to USDA</a> data, 19.1% of Black households and 15.6% of Hispanic households experienced food insecurity in 2019. White Americans fell below the national average, with 7.9% experiencing food insecurity.</p>

      <p>College graduates experienced food insecurity at a rate of just <a href="https://www.ers.usda.gov/topics/food-nutrition-assistance/food-security-in-the-us/interactive-charts-and-highlights/#disability">5% last year</a>. For those without a high school degree, the rate skyrocketed to 27%. Adults who have a disability — in particular adults who have a disability and are not in the work force — also experience more than two times the rate of food insecurity as adults who do not have a disability.</p>

      <h2>19 million Americans live in food deserts</h2>

      <p>Location is another factor at play. People who live in food deserts are often <a href="https://hub.jhu.edu/magazine/2014/spring/racial-food-deserts/">more likely</a> to experience food insecurity because food is harder to obtain where they live. About <a href="https://www.ers.usda.gov/data-products/food-access-research-atlas/documentation/">19 million</a> people, or roughly 6% of the population, lived in a food desert and 2.1 million households both lived in a food desert and lacked access to a vehicle in 2015, according to the USDA.</p>

      <p>Food can also be costlier where they live. A 2010 estimate from the USDA found that groceries sold in food deserts can cost significantly more than groceries sold in suburban markets, meaning people in low-income communities impacted by food insecurity often pay more money for their food. Milk prices, for example, were about 5% more in some spots while prices for cereal were sometimes 25% higher.</p>

      <p>The definition of food desert can change depending on where you live. In urban settings, you need to live more than a mile away from a supermarket to be considered inside a food desert. For rural areas, it's greater than 10 miles. Rural areas are <a href="https://www.ers.usda.gov/webdocs/publications/45014/30940_err140.pdf">slightly more likely</a> to be food deserts than urban areas and, <a href="https://www.feedingamerica.org/hunger-in-america/rural-hunger-facts">according to Feeding America</a>, and while they make up just 63% of counties in the country, they make up 87% of counties with the highest rates of food insecurity.

      <h2>38 million people used SNAP in 2019</h2>

      <p>One in nine people in the U.S. used SNAP — the Supplemental Nutrition Assistance Program (also known as food stamps) — in 2019, <a href="https://www.cbpp.org/research/food-assistance/a-closer-look-at-who-benefits-from-snap-state-by-state-fact-sheets#Alabama">according to the Center on Budget and Policy Priorities</a>. SNAP benefits vary depending on the need of the participant, but the average SNAP benefit for each member of a household was $129 per month in fiscal year 2019.</p>

      <p>SNAP is the <a href="https://www.nal.usda.gov/fnic/usda-nutrition-assistance-programs">largest food assistance program</a> for low-income Americans in the nation, and because of COVID-19, demand for the program has been growing. In March, when the <a href="https://www.npr.org/2020/03/19/818322136/heres-what-is-in-the-families-first-coronavirus-aid-package-trump-approved">Families First Act</a> passed as part of the government's emergency response to the pandemic, the maximum benefit for SNAP recipients was temporarily expanded <a href="https://www.npr.org/2020/07/15/891584099/when-snap-gets-squeezed">by an estimated 40%</a>. An analysis from the New York Times shows that SNAP <a href="https://www.nytimes.com/2020/07/19/us/politics/coronavirus-food-stamps.html"> grew by 17%</a> from February 2020 to May 2020, three times faster than in any previous three-month period.</p>

      <p>Yet even with that expanded food aid, the program hasn't managed to meet the nation's food security needs. Congressional Democrats <a href="https://www.congress.gov/bill/116th-congress/house-bill/6800/text">have sought to increase</a> funding for SNAP and <a href="https://www.speaker.gov/newsroom/92220-2">other nutrition assistance</a> benefits, but prospects appear uncertain.</p>

      <h2>COVID-19 could double the number of people experiencing food insecurity globally</h2>

      <p>The problem is hardly unique to the U.S. <a href="https://www.wfp.org/news/covid-19-will-double-number-people-facing-food-crises-unless-swift-action-taken">According to the United Nations World Food Program</a>, the global pandemic has the chance to double the number of people experiencing acute food insecurity, from 135 million in 2019 to 265 million in 2020.</p>

      <p><i>"COVID-19 is potentially catastrophic for millions who are already hanging by a thread,"</i> the program's chief economist, Arif Husain said in a statement published this spring. <i>"It is a hammer blow for millions more who can only eat if they earn a wage. Lockdowns and global economic recession have already decimated their nest eggs. It only takes one more shock — like COVID-19 — to push them over the edge. We must collectively act now to mitigate the impact of this global catastrophe."</i></p>
    </div>


  </div>

{% endblock %}
