{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Find Help {% endblock %}
{% block content %}

  <h1 class="d-h1">Find Help</h1><br/>
    <div class="d-container">
    <h2 class="d-h1">Please use the map to find food assistance near you.</h2>
      <div class="d-row">
        <div class="d-col">
          <iframe name="myiframe"
          width="600"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=Arizona+state+university+Tempe+AZ">
          </iframe>
        </div>
        <div class="d-col">
          <h3>Food Distribution Locations</h3>
          <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=Arizona+state+university+Tempe+AZ" target="myiframe">ASU</a>
          <br/>
          The birthplace of Hap-Pea-Foods!
          <br/>
          Monday - Friday 8:00am - 430pm
          <br/>
          Arizona State University, Tempe, AZ 85281
          </p>
          <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=714S+Myrtle+Ave+Tempe+AZ+85281" target="myiframe">Salvation Army Food Distribution</a>
          <br/>
          Call: 1(480)967-8649
          <br/>
          714 S Myrtle Ave, Tempe, AZ 85281
          </p>
          <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
          &q=Food+Distribution+Center+-+Arizona+Institute+For+Justice" target="myiframe">Food Distribution Center - Arizona Institute For Justice
          </a>
          <br/>
          Located in Hayden Station
          <br/>
          398 S Mill Ave, Tempe, AZ 85281</p>
        </div>
      <div class="d-col">
        <h3>Food Banks</h3>
        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=Tempe+Community+Action+Agency" target="myiframe">Tempe Community Action Agency</a>
        <br/>
        A non-profit organization.
        <br/>
        Mon - Fri 8am - 5pm
        <br/>
        2146 Apache Blvd, Tempe, AZ 85281
        </p>
        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=Food+Distribution+Center+-+Our+Lady+of+Mount+Carmel+-+Society+of+Saint+Vincent+de+Paul" target="myiframe">Society of St Vincent de Paul: Our Lady of Mt Carmel</a>
        <br/>
        Eligibility: Families with children, elderly and disabled.
        <br/>
        Monday thru Friday; 9 - 11am
        <br/>
        2121 S Rural Rd Tempe AZ 85282</p>

        <p><a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyCPxWrUymIOfqDXHXPMDjLCQsKaYA8T88g
        &q=ICNA+Relief+Community+Food+Pantry+5030+S+Mill+Ave+Tempe+AZ+85282" target="myiframe">ICNA Relief Community Food Pantry</a>
        <br/>
        Website: <a href="http://www.icnarelief.org/">http://www.icnarelief.org/</a>
        <br/>
        Open: Sunday, 10AM–12:30AM
        <br/>
        5030 S Mill Ave, Tempe, AZ 85282</p>
      </div>
    </div>
  </div>

{% endblock %}
