{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Home {% endblock %}
{% block content %}
{% load static %}

  <!-- slider -->

  <div class="slider container"> 
    <figure>
      <img src="{% static 'handout.jpg' %}">
      <img src="{% static 'prepare.jpg' %}">
      <img src="{% static 'receive.jpg' %}">
      <img src="{% static 'giving.jpg' %}">
      <img src="{% static 'handout.jpg' %}">
    </figure>
  </div>

  <!-- left container -->
  <div class="l_containter">
    <div class="column">
      <div class="leftblock">
        <h1>What is a food bank?</h1>

        <p>A food bank is a non-profit organization that collects and distributes food to hunger-relief charities. Food banks act as food storage and distribution depots for smaller front line agencies; and usually do not themselves give out food directly to people struggling with hunger.</p>
        <br/>
        <p>Food banks in the U.S. are very diverse – from small operations serving people spread out across large rural areas to very large facilities that store and distribute many millions of pounds of food each year, and everything in between. A variety of factors impact how food banks work, from the size of the facility to the number of staff members.  But, one thing all food banks have in common is that they rely on donors and volunteers to carry out their day-to-day operations. </p>

        <h1>How does the Hap-Pea Foods network of food banks work?</h1>
        <div class="row1">
          <div class="image-col">
            <img src="{% static '005-food.png' %}" alt="">
          </div>
          <div class="text">
            <h3>Securing food</h3>
            <p>Hap-Pea Foods secures donations from national food and grocery manufacturers, retailers, shippers, packers and growers and from government agencies and other organizations. We have staff that work closely with the partners to match excess food with the food banks that most need it.</p>
          </div>
        </div>

        <div class="row2">
          <div class="image-col">
            <img src="{% static '002-truck.png' %}" alt="">
          </div>
          <div class="text">
            <h3>Shipping and Storage</h3>
            <p>The Hap-Pea Foods network of food banks receive and safely stores donated food and grocery products. Hap-Pea Foods supports member food banks with training, oversight and equipment grants to ensure perishable and non-perishable food is handled and stored properly.</p>
          </div>
        </div>

        <div class="row3">
          <div class="image-col">
            <img src="{% static '001-supply-chain.png' %}" alt="">
          </div>
          <div class="text">
            <h3>Distributing Food</h3>
            <p>The food banks distribute food and grocery items through food pantries and meal programs that serve families, children, seniors and individuals at risk of hunger. Last year alone, the Hap-Pea Foods network distributed more than 3.6 billion meals to people in need.</p>
          </div>
        </div>

        <div class="row4">
          <div class="image-col">
            <img src="{% static '006-support.png' %}" alt="">
          </div>
          <div class="text">
            <h3>Supporting the people we serve</h3>
            <p>The Hap Pea Foods nationwide network of food banks also supports programs that improve food security among the people we serve; educates the public about the problem of hunger; and advocates for legislation that protects people from going hungry. Individuals, charities, businesses and government all have a role in ending hunger.</p>
          </div>
        </div>

      </div> <!-- end leftblock -->

      <div class="home-calendar">
        <h1>Calendar of Events<a href="https://www.timeanddate.com/calendar/"><i class="far fa-calendar-alt" style="color: black"></i></a></h1> <!-- Module insert here for calendar -->

        <div class="events-grid" style="margin-top: 20px; display: grid; grid-template-columns: 300px 300px; grid-gap: 20px;">
          {% for event in event_list %}
            <div class="event" style="border: 3px solid #E32636; padding: 3%;">
              <h2 class="text-center">{{event.eventTitle}}</h2>
              <p>{{event.eventDate}}</p>
              <p> Start: {{event.startTime}} End: {{event.endTime}}</p>
            </div>
          {% endfor %}
        </div>

      </div> <!-- end calendar -->
    </div> <!-- end column -->
  </div> <!-- end l_container -->


{% endblock %}
