
{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | Non Discrimination Statement {% endblock %}
{% block content %}

  <div class="nds">
    <h1>USDA NONDISCRIMINATION STATEMENT</h1>

    <div class="nds-column-1">

      <h4>Last Published: 10/14/15</h4>

      <p>“In accordance with Federal civil rights law and U.S. Department of Agriculture (USDA) civil rights regulations and policies, the USDA, its Agencies, offices, and employees, and institutions participating in or administering USDA programs (United Food Bank) are prohibited from discriminating based on race, color, national origin, sex, disability, age, or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.</p>
      <br/>
      <p>Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English.</p>
      <br/>
      <p>To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027) found online at: http://www.ascr.usda.gov/complaint_filing_cust.html, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to USDA by:
    </div>


    <div class="nds-column-2">
      <ul>
        <li>
          <i class="fas fa-envelope"></i>Mail: U.S. Department of Agriculture</li>
        <li>Office of the Assistant Secretary for Civil Rights</li>
        <li>1400 Independence Avenue, SW</li>
        <li>Washington, D.C. 20250-9410</li>
      </ul>

      <ul>
        <li><i class="fas fa-fax"></i>Fax: (202) 690-7442</li>
      </ul>

      <ul>
        <li><i class="fas fa-at"></i>Email: program.intake@usda.gov</li>
      </ul>

      <h3>This institution is an equal opportunity provider.</h3>
        <p>The Department of Economic Security (DES) Coordinated Hunger Relief Program (HRP) has updated all DES/HRP TEFAP-related forms with the current nondiscrimination statement. Updated forms can be obtained online in the DES Documents Center at https://des.az.gov/documents-center.</p>
    </div>
  </div>


{% endblock %}
