{% extends 'base_layout.html '%}
{% block title %} Hap-Pea Foods | Volunteer {% endblock %}
{% block content %}
{% load static %}

  <div class="v_head">
    <h1>Volunteer Through Hap-Pea Foods</h1>
  </div>

  <div class="v_img_banner">
    <img src="{% static 'colunteer.jpg' %}" alt="">
  </div>
  <br>
  <div class="v_content">
    <h2>Become a volunteer. Your time and talent can make a real difference in peoples live's. Together we can end hunger and food waste.</h2>

    <h2>Volunteering During the Pandemic</h2>

    <h4>During the COVID-19 pandemic, many food banks have experienced personnel shortages because their volunteer bases are comprised largely of individuals over the age of 60, a group that has been identified as more vulnerable to COVID-19. Food banks can prepackage food items and hold drive-thru distributions to help workers, volunteers, and clients adhere to social distancing guidelines and stay safe.</h4>

    <h4>Volunteers are needed now, around the world, more than ever to provide relief from the destruction that COVID-19 has had on communities. Food banks are seeing a ramp-up in the need for volunteers, due to this unprecedented pandemic. Volunteers are the heart of these organizations and rely on them to help reach goals and drive mission-attainment. In fact, most nonprofits would not be able to achieve goals without the support of volunteers.</h4>

    <h4>Volunteers have an opportunity to really make a big difference within their communities, right now. The COVID-19 pandemic has impacted food banks and the number of volunteers that they have available for much-needed shifts.</h4>

    <h4>The current situation, involving COVID-19, is calling for food banks to put protocols in place to protect the health of staff, clients, and volunteers. These protocols include social distancing, health, and wellness awareness strategies, and providing flexible shifts. For volunteers, wanting to aid their time during this crisis, there are a few practical steps they can take to protect their health and reduce risk.</h4>
  </div>

  <div class="v_options">
    <h3>6 ways to make a difference</h3>

    <ul>
      <li><img src="{% static '003-charity.png' %}" alt=""><br><h4>Volunteer</h4></li>
      <li><img src="{% static '004-canned-food.png' %}" alt=""><br><h4>Start A Food Drive</h4></li>
      <li><img src="{% static '006-building.png' %}" alt=""><br><h4>Neighborhood Check</h4></li>
      <li><img src="{% static '001-megaphone.png' %}" alt=""><br><h4>Advocate</h4></li>
      <li><img src="{% static '005-calendar.png' %}" alt=""><br><h4>Attend an Event</h4></li>
      <li><img src="{% static '002-online-donation.png' %}" alt=""><br><h4>Donate</h4></li>
    </ul>

    <a href="">Volunteer Match</a> |
    <a href="">New Volunteer Applicants </a> |
    <a href="">Donate Now</a> |
  </div>
{% endblock %}
