{% extends 'base_layout.html' %}
{% block title %} Hap-Pea Foods | User Stories {% endblock %}

{% block content %}
  <h1>User Stories</h1>

  <div class="createstory">
    <form class="create" action="{% url 'stories:create' %}" method="post">
      {% csrf_token %}
      <button type="submit" name="addstory">Create A Story</button>
    </form>
  </div>

  <div class="stories">
    {% for story in stories %}
      <div class= "story">
        <h2><a href="{% url 'stories:detail' slug=story.slug %}">{{story.title}}</a></h2>
        <p>{{story.snippet}}</p>
        <p> {{story.date}}</p>
        <p class="author">added by {{story.author.username}}</p>
      </div>
    {% endfor %}
  </div>



{% endblock %}
